<html>
    <head>
        <title>Home</title>
    </head>
    <h1>Home</h1>
    <body>
        <div>
            <p>Welcome V4</p>
            <br>

            <form method="POST" action="">
                {{ form.hidden_tag() }}
                {{ form.submit }}
            </form>
        </div>
        <div>
            <p>
                {{message}}
            </p>
        </div>
        <div>
                {% for prize in prizes %}
                    <p>--------------------------------</p>
                    <p>{{ prize.account_number }}</p>
                    <p>{{ prize.prize }}</p>
                    <p>--------------------------------</p>
                {% endfor %}
        </div>
    </body>
</html>